.card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 30%;           
    margin: auto;                        
}

.header-image {    
    background-size: contain;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.example-margin {
  margin: 0 12px;
}
