<!--inverse means that the navigation bar is black and white:, fixed-top means: fixed to the top -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <!--Set up a large container-->
  <div class="container">

    <!--Generate a write program name-->
    <div class="navbar-header">
      <!--Add a button: when the screen is zoomed out, click the button to make the three submenus appear in the form of a dropdown -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <!--Add three horizontal lines to make the button more obvious-->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Online bidding</a>
    </div>

    <!--Link to three sub-menus-->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">about us</a></li>
        <li><a href="#">contact us</a></li>
        <li><a href="#">Sitemap</a></li>
      </ul>
    </div>

  </div>
</nav>
